// Override Custom Styles

.gm-style-iw-d {
  overflow-x: hidden;
  overflow-y: auto !important;
  max-width: 300px !important;
  position: relative !important;
}

.gm-style-iw-d {
  padding: 0 !important;
}

.gm-style .gm-style-iw-c {
  padding-left: 0 !important;
}

.gm-style-iw-ch {
  padding: 0 !important;
}

.gm-style-iw-chr {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: 0;
  right: 0;
  z-index: 100;
}
.gm-ui-hover-effect {
  background-color: white !important;
  border-bottom-left-radius: 10px !important;
  opacity: 1 !important;
}

// New Styles
.info-window {
  img {
    height: 200px !important;
    object-fit: cover;
    object-position: center;
  }
}

.cover-image-wrapper {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #292929;
    opacity: 0.3;
  }
}
.info-content {
  h3 {
    color: var(--#{$prefix}primary);
    font-size: 14px;
    text-align: left;
    font-weight: 600;
  }
}
.IPAZAH-content-container {
  svg {
    fill: var(--#{$prefix}primary);
    width: 40;
    height: 40px;
  }
}

// Leaflet Map Design
// Reseting Default Style
.leaflet-popup-content {
  margin: 0 !important;
  overflow: hidden !important;
}

// New Styles
.leaflet-popup-content {
  img {
    width: 300px !important;
    height: 200px !important;
  }
}
.leaflet-popup-content-wrapper {
  border-radius: 20px !important;
  overflow: hidden !important;
}

.leaflet-container a.leaflet-popup-close-button {
  width: 40px;
  height: 40px;
  border-bottom-left-radius: 10px;
  color: var(--#{$prefix}primary) !important;
  background-color: white !important;
}

.marker-item {
  width: 60px;
  height: 60px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
  }

  &::before {
    width: 0;
    content: "";
    height: 0;
    border-style: solid;
    border-width: 10px 6px 0;
    position: absolute;
    top: 60px; /* Slightly adjusted from 58px */
    left: 50%;
    border-color: #fff transparent transparent;
    transform: translateX(-50%);
    z-index: 3;
  }
}

.marker-cluster {
  div {
    border-radius: 100% !important;
    width: 40px !important;
    height: 40px !important;
    background-color: var(--#{$prefix}primary) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
  }
  div {
    span {
      font-weight: bold !important;
      font-size: 18px !important;
      color: white !important;
    }
  }
}
