// New Styles
.info-window {
  img {
    height: 200px !important;
    object-fit: cover;
    object-position: center;
  }
}
.cover-image-wrapper {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #292929;
    opacity: 0.3;
  }
}
.info-content {
  h3 {
    color: var(--#{$prefix}primary);
    font-size: 14px;
    text-align: left;
    font-weight: 600;
  }
}

// Leaflet Map Design
// Reseting Default Style
.leaflet-popup-content {
  margin: 0 !important;
  overflow: hidden !important;
}

// New Styles
.leaflet-container a.leaflet-popup-close-button {
  z-index: 10;
  border-radius: 0 10px;
}

.leaflet-container a.leaflet-popup-close-button {
  span {
    color: var(--#{$prefix}primary);
  }
}

.leaflet-popup-content {
  img {
    width: 300px !important;
    height: 200px !important;
  }
}
.leaflet-popup-content-wrapper {
  border-radius: 20px !important;
  overflow: hidden !important;
}

.leaflet-container a.leaflet-popup-close-button {
  width: 40px;
  height: 40px;
  border-bottom-left-radius: 10px;
  color: var(--#{$prefix}primary) !important;
  background-color: white !important;
}

.marker-item {
  width: 60px;
  height: 60px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
  }

  &::before {
    width: 0;
    content: "";
    height: 0;
    border-style: solid;
    border-width: 10px 6px 0;
    position: absolute;
    top: 60px; /* Slightly adjusted from 58px */
    left: 50%;
    border-color: #fff transparent transparent;
    transform: translateX(-50%);
    z-index: 3;
  }
}

.marker-cluster {
  div {
    border-radius: 100% !important;
    width: 40px !important;
    height: 40px !important;
    background-color: var(--#{$prefix}primary) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
  }
  div {
    span {
      font-weight: bold !important;
      font-size: 18px !important;
      color: white !important;
    }
  }
}

.icons-list {
  ul li i:hover {
    color: var(--#{$prefix}primary);
  }
}

.list-grid-nav .nav-link.active {
  background-color: var(--#{$prefix}primary);
  color: #fff;
}

.filters-simple-bar {
  // height: calc(100dvh - 308px);
  height: calc(100dvh - 276px);
}

@media (max-width: 767px) {
  .filters-simple-bar {
    height: calc(100dvh - 392px);
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .filters-simple-bar {
    height: calc(100dvh - 424px);
  }
}

.map-items {
  &.grid-view-filter {
    flex-flow: row wrap;
    .meta-info {
      position: absolute;
      top: 8px;
      left: 8px;
      right: 8px;
      bottom: 68px;
      z-index: 10;
    }
    .col {
      flex: 0 0 auto;
      width: 100%;
    }
    .user-avatar {
      margin-top: -60px;
      width: 68px !important;
      height: 58px !important;
      background: var(--vz-secondary-bg);
      img {
        width: 46px;
        height: 46px;
        object-fit: cover;
      }
    }
    .card-container {
      display: flex;
      flex-direction: column;
    }
    .map-item-card {
      .bg-cover-wrapper {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        height: 224px;
        position: relative;
        z-index: 0;

        img {
          width: 100%; // Ensure the image covers the wrapper
          height: 100%; // Ensure the image covers the wrapper
          object-fit: cover; // Maintain the aspect ratio and cover the container
          object-position: top;
          transition: transform 0.3s ease-in-out;
          position: relative; // Ensure the image is under the gradient
          z-index: -1; // Keep the image behind the gradient
        }

        &:hover img {
          transform: scale(1.1); // Slight zoom on hover
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          top: 30%;
          background: linear-gradient(
            to bottom,
            rgba(var(--#{$prefix}primary-rgb), 0) 0%,

            rgba(var(--#{$prefix}primary-rgb), 1) 100%
          );
          z-index: 0; // Ensure the gradient stays on top of the image
        }
      }
    }
    .map-item-card {
      .card-header {
        border-radius: 16px 16px 0 0 !important;
        margin-top: -40px;
      }
    }

    @media (min-width: 1600px) {
      .col {
        flex: 0 0 auto;
        width: 50%;
      }
    }
    @media (min-width: 1200px) and (max-width: 1599px) {
      .col {
        flex: 0 0 auto;
        width: 100% !important;
      }
    }
    @media (min-width: 768px) and (max-width: 1200px) {
      .col {
        flex: 0 0 auto;
        width: 50%;
      }
    }
  }

  &.list-view-filter {
    flex-direction: column;

    .meta-info {
      position: absolute;
      top: 16px;
      left: 16px;
      right: 16px;
      bottom: 16px;
      z-index: 10;
    }
    .card-container {
      display: flex;
      flex-direction: row;
    }
    .card {
      flex: 1;
      margin: 0;
    }

    .user-avatar {
      display: none !important;
    }
    .map-item-card {
      .bg-cover-wrapper {
        border-radius: 10px;
        overflow: hidden;
        width: 244px;
        // height: 100%;
        position: relative;
        z-index: 0;

        img {
          width: 100%; // Ensure the image covers the wrapper
          height: 100%; // Ensure the image covers the wrapper
          object-fit: cover; // Maintain the aspect ratio and cover the container
          object-position: top;
          transition: transform 0.3s ease-in-out;
          position: relative; // Ensure the image is under the gradient
          z-index: -1; // Keep the image behind the gradient
        }

        &:hover img {
          transform: scale(1.1); // Slight zoom on hover
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          right: 0;
          top: 30%;
          background: linear-gradient(
            to bottom,
            rgba(var(--#{$prefix}primary-rgb), 0) 0%,

            rgba(var(--#{$prefix}primary-rgb), 0.8) 100%
          );
          z-index: 0; // Ensure the gradient stays on top of the image
        }
      }
    }

    .map-item-card .card-header {
      margin-top: 0;
    }
    @media (max-width: 767.98px) {
      flex-direction: row;
      .col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
      }
    }
  }
}

.map-container-height {
  height: calc(100dvh - 164px);
}

@media (max-width: 767px) {
  .map-container-height {
    height: calc(100dvh - 234px);
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .map-container-height {
    height: calc(100dvh - 265px);
  }
}

.fvt-btn {
  span {
    display: none;
  }

  &:hover {
    span {
      display: block;
    }
  }
}

.item-card-padding-y {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.tooltip-bg-primary {
  background-color: var(--#{$prefix}primary);
}
.tooltip {
  --vz-tooltip-bg: var(--#{$prefix}primary) !important;
}

.gallery-modal-content {
  background: transparent !important;
  .modal-header {
    .btn-close {
    }
  }
}

.gray-body-bg {
  background-color: var(--#{$prefix}body-bg);
}

// Gallery Carousel
.carousel-item {
  img {
    max-width: 600px;
    max-height: 400px;
    height: 400px;
    display: block !important;
    margin: 0 auto;
    object-fit: cover;
  }
}
.carousel-control-prev,
.carousel-control-next {
  span {
    width: 40px;
    height: 40px;
    background-color: var(--#{$prefix}primary);
    border-radius: 10px;
  }
}
